.vscode/settings.json
.vscode/tasks.json
data/neopets_battledome_generated_items_10000000.txt
data/neopets_battledome_item_drop_rates_10000000.txt
data/neopets_item_price_cache.txt
data/neopets_battledome_generated_items_Central_Arena_100000000.txt
data/neopets_battledome_generated_items_Cosmic_Dome_100000000.txt
data/neopets_battledome_generated_items_Dome_of_the_Deep_100000000.txt
data/neopets_battledome_generated_items_Frost_Arena_100000000.txt
data/neopets_battledome_generated_items_Neocola_Centre_100000000.txt
data/neopets_battledome_generated_items_Pango_Palladium_100000000.txt
data/neopets_battledome_generated_items_Rattling_Cauldron_100000000.txt
data/neopets_battledome_generated_items_Ugga_Dome_100000000.txt
data/neopets_battledome_item_drop_rates_100000000.txt
data/neopets_battledome_item_drop_rates_Central_Arena_100000000.txt
data/neopets_battledome_item_drop_rates_Cosmic_Dome_100000000.txt
data/neopets_battledome_item_drop_rates_Frost_Arena_100000000.txt
data/neopets_battledome_item_drop_rates_Neocola_Centre_100000000.txt
data/neopets_battledome_item_drop_rates_Pango_Palladium_100000000.txt
data/neopets_battledome_item_drop_rates_Dome_of_the_Deep_100000000.txt
data/neopets_battledome_item_drop_rates_Rattling_Cauldron_100000000.txt
data/neopets_battledome_item_drop_rates_Ugga_Dome_100000000.txt
